<div my-headerbar-homeButton>
  <button mat-icon-button (click)="takeActFor('home')">
    <img
      src="assets/type50/images/icons/ico_home.png"
      onError="src ='assets/type50/images/icons/ico_home.png'"
      style="
        width: 150px;
        height: 150px;
        padding-bottom: 0;
        margin: 0 auto;
        display: block;
      "
    />
  </button>
</div>
<div style="position: absolute; right: 0; top: 0">
  <img style="margin: 40px;height: 90px;" src="assets\type50\images\Logo_small.png" />
</div>
<div style="text-align: center; padding-top: 45%">
  <p
    style="
      text-align: center;
      color: #00769d;
      font-weight: bold;
      font-size: xxx-large;
    "
  >
    Please Scan your<br />Identity Card or Passport<br />at the Scanner and
    press "Start"
  </p>
</div>
<div style="text-align: center; padding-top: 20px">
  <img
    src="assets\type50\gifs\Passport.gif"
    style="height: 40vw"
    margin-bottom
  />
  <button
    mat-raised-button
    my-theme-button
    [ngStyle]="{ 'font-weight': 'bold', 'text-transform': 'capitalize' }"
    (click)="takeActFor('cancel')"
    style="
      background: red !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      padding-left: 75px !important;
      padding-right: 75px !important;
      border-radius: 10px;
      text-align: center;
      border-radius: 2vh !important;
      min-width: 200px;
      margin: 20px;
    "
  >
    <div style="display: flex; align-items: center">
      <p style="margin: 0px">Cancel</p>
    </div>
  </button>

  <button
    mat-raised-button
    my-theme-button
    [ngStyle]="{ 'font-weight': 'bold', 'text-transform': 'capitalize' }"
    (click)="takeActFor('start')"
    style="
      background: #00bfff !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      padding-left: 90px !important;
      padding-right: 90px !important;
      border-radius: 10px;
      text-align: center;
      border-radius: 2vh !important;
      margin: 20px;
    "
  >
    <div style="display: flex; align-items: center">
      <p style="margin: 0px">Start</p>
    </div>
  </button>
</div>
<div my-footer-toolbar>
  <!-- <button
    mat-raised-button
    my-theme-button
    style="
      background: red !important;
      margin: 25px;
      width: 200px;
      text-align: center;
    "
    (click)="takeActFor('cancel')"
  >
    Cancel
  </button>
  <button
    mat-raised-button
    my-theme-button
    style="
      background: #00769d !important;
      margin: 25px;
      width: 200px;
      text-align: center;
    "
    (click)="takeActFor('start')"
  >
    Start
  </button> -->
</div>
