<div my-headerbar-visitorlist>
  <button mat-icon-button my-theme-round-button (click)="takeActFor('adminsettings')">
    <i class="siva-icon-cog"></i> </button>
</div>
<div style="text-align:center;padding:30px;">
  <p welcome-title style="margin-top:20vh;">
    How can we help you?
  </p>
</div>
<div my-footer-toolbar>
  <button mat-raised-button my-theme-button (click)="takeActFor('signIn')" style="margin-right:100px;">Sign In</button>
  <button mat-raised-button my-theme-button (click)="takeActFor('signOut')">Sign Out</button>
</div>