<button mat-button (click)="gotoCountClickSettings()"
style="position: absolute;
right: 0;
min-height: 15vh;
min-width: 15vh;z-index: 999999999;">
</button>
<div my-headerbar-homeButton *ngIf="KIOSK_PROPERTIES.modules.card_dispenser.enable">
  <button disabled mat-icon-button my-theme-round-button
    [matBadge]="KIOSK_AVAL_CARDS" matBadgePosition="before" matBadgeColor="accent">
    <i class="siva-icon-docs-1"></i> </button>
</div>
<div style="text-align:center;padding-top:30px;display: block;" >
  <h1 welcome-title *ngIf="KIOSK_PROPERTIES.commonsetup.Home_screen_Label_1 != ''">
    {{KIOSK_PROPERTIES.commonsetup.Home_screen_Label_1}}
  </h1>
  <img style="height: 15vh;margin-top: 2vh;" alt="Angular Logo" [src]="LOGO_IMG">
  <div style="margin-top: 2vh !important;">
    <h3 info-title style="margin:0 auto;
  margin-bottom: 2vh; font-size: 5vmin;display: contents;" *ngIf="KIOSK_LOCAL_PROPERTIES.showOrganization"
  >{{KIOSK_LOCAL_PROPERTIES.OrganizationName}}</h3>
  </div>
  <div style="margin-top: 2vh !important;">
    <h3 info-title style="margin:0 auto;
  margin-bottom: 2vh; font-size: 5vmin;display: contents;" *ngIf="KIOSK_LOCAL_PROPERTIES.homePageSubTitle"
  >{{KIOSK_LOCAL_PROPERTIES.homePageSubTitle}}</h3>
  </div>
</div>
<div style="text-align: center;">
  <input type="text" id="readStaffCard" #readStaffCard autofocus [(ngModel)]="StaffCardNo" (keyup.enter)="readStaffCardEnter()"/>
</div>
<div my-footer-toolbar *ngIf="KIOSK_PROPERTIES.modules.app_flow_type == 'staff_and_visitor'">
  <button mat-raised-button my-theme-button (click)="takeActFor('staff')" style="margin-right:100px;">Staff</button>
  <button mat-raised-button my-theme-button (click)="takeActFor('visitor')">Visitor</button>
</div>
<div my-footer-toolbar style="display: block;">
  <h3 info-title style="margin-top: 0px !important;
  margin-bottom: 2vh;" *ngIf="KIOSK_PROPERTIES.commonsetup.Home_screen_Label_2 != ''"
  >
      {{KIOSK_PROPERTIES.commonsetup.Home_screen_Label_2}}</h3>

      <div style="    justify-content: space-evenly;
display: flex;"  *ngIf="KIOSK_PROPERTIES.General.AppType == '10' || KIOSK_PROPERTIES.General.AppType == '30'">
  <!-- <mat-radio-group>
    <mat-radio-button my-reg-option-btn sp-button-violet-out
    *ngIf="KIOSK_PROPERTIES.modules.only_visitor.CheckoutOption && KIOSK_PROPERTIES.modules.only_visitor.checkout.out_type != 'auto'"
      matRipple matRippleColor="rgba(255,255,255,0.1)"
      value="PREAPPOINTMT" (click)="takeActFor('vcheckout')">
      {{KIOSK_PROPERTIES.modules.only_visitor.visitor_landing_out_btn_label}}
    </mat-radio-button>

    <mat-radio-button my-reg-option-btn sp-button-yellow-out
    *ngIf="KIOSK_PROPERTIES.modules.only_visitor.CheckinOption"
      matRipple matRippleColor="rgba(255,255,255,0.1)"
      value="OTHER" (click)="takeActFor('vcheckinapproval')">
      {{KIOSK_PROPERTIES.ApptFieldSettings.Caption}}
    </mat-radio-button>


    <mat-radio-button my-reg-option-btn sp-button-yellow-out
    *ngIf="KIOSK_PROPERTIES.ApptFieldSettings.Enable"
      matRipple matRippleColor="rgba(255,255,255,0.1)"
      value="OTHER" (click)="takeActFor('vcheckinapproval')">
      {{KIOSK_PROPERTIES.ApptFieldSettings.Caption}}
    </mat-radio-button>
  </mat-radio-group> -->

    <button my-reg-option-btn sp-button-red-out1 matRipple
    matRippleColor="rgba(255,255,255,0.1)" style="text-align: center;
    font-size: 2.2vh;
    font-weight: 700;"
    *ngIf="KIOSK_PROPERTIES.CheckinSettings && KIOSK_PROPERTIES.modules.only_visitor.CheckinOption"
    value="CHECKIN" [ngStyle]="{'font-weight': KIOSK_PROPERTIES.CheckinSettings.CaptionBold? 'bold': '' ,
    'text-transform': KIOSK_PROPERTIES.CheckinSettings.CaptionCapitalize? 'uppercase': 'capitalize'}"
    (click)="takeActFor('vcheckin')" [disabled]="!IF_CONNECT_WITH_SERVER">
    <img src="{{CheckIn}}" onError="src ='assets/images/cus_icons/checkin.png'" style="    width: 12vh;
    height: 12vh;
    padding-bottom: 10px;
    margin: 0 auto;
    display: block;"/>
      {{KIOSK_PROPERTIES.CheckinSettings.Caption}}</button>

    <button my-reg-option-btn sp-button-green-out1 matRipple
    matRippleColor="rgba(255,255,255,0.1)" style="text-align: center;
    font-size: 2.2vh;
    font-weight: 700;"
    *ngIf="KIOSK_PROPERTIES.ApptFieldSettings && KIOSK_PROPERTIES.ApptFieldSettings.Enable" [ngStyle]="{'font-weight': KIOSK_PROPERTIES.ApptFieldSettings.CaptionBold? 'bold': '' ,
    'text-transform': KIOSK_PROPERTIES.ApptFieldSettings.CaptionCapitalize? 'uppercase': 'capitalize'}"
    (click)="takeActFor('vcheckinapproval')" [disabled]="!IF_CONNECT_WITH_SERVER">
    <img src="{{RequestAppointment}}" onError="src ='assets/images/cus_icons/register.png'" style="   width: 12vh;
    height: 12vh;
    padding-bottom: 10px;
    margin: 0 auto;
    display: block;"/>
      {{KIOSK_PROPERTIES.ApptFieldSettings.Caption}}</button>


  <button my-reg-option-btn sp-button-violet-out1 matRipple
  matRippleColor="rgba(255,255,255,0.1)" style="margin-right: 5vh;text-align: center;
  font-size: 2.2vh;
  font-weight: 700;"
*ngIf="KIOSK_PROPERTIES.modules.only_visitor.CheckoutOption && KIOSK_PROPERTIES.modules.only_visitor.checkout.out_type != 'auto'"
    (click)="takeActFor('vcheckout')"
    [disabled]="!IF_CONNECT_WITH_SERVER">

      <img src="{{CheckOut}}" onError="src ='assets/images/cus_icons/checkout.png'"  style="    width: 12vh;
      height: 12vh;
      padding-bottom: 10px;
      margin: 0 auto;
      display: block;"/>
 {{KIOSK_PROPERTIES.modules.only_visitor.visitor_landing_out_btn_label}}</button>


      <!-- <button mat-raised-button my-theme-button style="margin-right: 5vh;"
      *ngIf="KIOSK_PROPERTIES.modules.only_visitor.checkin.in_prereg_visitor"
      (click)="takeActFor('vcheckin')" [disabled]="!IF_CONNECT_WITH_SERVER">
        {{KIOSK_PROPERTIES.modules.only_visitor.checkin.in_prereg_option.in_prereg_label}}</button> -->

</div>
<h3 info-title style="margin-top: 2px !important;    margin-bottom: 0px;font-size: 4vmin;display: contents;" *ngIf="KIOSK_LOCAL_PROPERTIES.homePageBottomNote"
  >{{KIOSK_LOCAL_PROPERTIES.homePageBottomNote}}</h3>
</div>


