<div my-headerbar-visitorlist>
  <button
    *ngIf="totalVisitors > 0"
    (click)="takeActFor('visitorSummary')"
    mat-icon-button
    my-theme-round-button
    [matBadge]="totalVisitors"
    matBadgePosition="before"
    matBadgeColor="accent"
  >
    <i class="siva-icon-users-1"></i>
  </button>
</div>
<div style="text-align: center; padding: 30px">
  <p info-title margin-bottom>
    {{ KIOSK_PROPERTIES.COMMON_CONFIG.page_title }}
  </p>
  <div style="margin-top: 10vh; text-align: center">
    <div
      style="width: 100%"
      *ngIf="
        KIOSK_PROPERTIES.COMMON_CONFIG.type == 'manual' ||
        KIOSK_PROPERTIES.COMMON_CONFIG.type == 'manual&QRCode'
      "
    >
      <p sub-title>{{ KIOSK_PROPERTIES.COMMON_CONFIG.screen_manual_label }}</p>
      <!--  <mat-form-field appearance="outline" floatLabel="always" theme-border-input-big style="width:35vw;">
            <mat-label>CheckIn ID</mat-label>
            <input matInput
              [(ngModel)]="APONTMNT_CODE" maxlength="10"
              (blur)="textDataBindTemp($event.target.value, 'APONTMNT_CODE')"
              ng-virtual-keyboard ng-virtual-keyboard-layout="extended"
              ng-virtual-keyboard-placeholder="CheckIn ID">
          </mat-form-field> -->
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        theme-border-input-big
        style="width: 35vw"
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentID.field_caption
        }}</mat-label>
        <!-- <input
          matInput
          [(ngModel)]="APONTMNT_CODE"
          maxlength={{KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentID
          .maxlength}}
          minlength={{KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentID
          .minlength}}
          (blur)="textDataBindTemp($event.target.value, 'APONTMNT_CODE')"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          ng-virtual-keyboard-placeholder={{KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentID
          .PlaceHolder}}
        /> -->
        <input
          matInput
          [(ngModel)]="APONTMNT_CODE"
          (blur)="textDataBindTemp($event.target.value, 'APONTMNT_CODE')"
          oninput="this.value = this.value.toUpperCase()"
          (click)="
            openKeyBoard(
              KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentID.PlaceHolder,
              $event.target.value,
              $event,
              false
            )
          "
        />
      </mat-form-field>
    </div>
    <div
      style="width: 100%"
      *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.type == 'manual&QRCode'"
    >
      <hr class="rounded" />
    </div>
    <div
      style="width: 100%"
      *ngIf="
        KIOSK_PROPERTIES.COMMON_CONFIG.type == 'QRCode' ||
        KIOSK_PROPERTIES.COMMON_CONFIG.type == 'manual&QRCode'
      "
    >
      <p sub-title>{{ KIOSK_PROPERTIES.COMMON_CONFIG.screen_qr_label }}</p>
      <button mat-raised-button my-theme-button (click)="takeActFor('scanNow')">
        {{ KIOSK_PROPERTIES.COMMON_CONFIG.scan_button_label }}
      </button>
    </div>
  </div>
</div>
<div my-footer-toolbar>
  <button
    mat-icon-button
    my-theme-round-button
    (click)="takeActFor('back')"
    style="float: left"
  >
    <i class="siva-icon-left-big"></i>
  </button>

  <button
    *ngIf="
      KIOSK_PROPERTIES.COMMON_CONFIG.type == 'manual' ||
      KIOSK_PROPERTIES.COMMON_CONFIG.type == 'manual&QRCode'
    "
    mat-raised-button
    my-theme-button
    [disabled]="APONTMNT_CODE.toString().length < 1"
    style="float: right"
    (click)="takeActFor('getAppointmentDetail')"
  >
    {{ KIOSK_PROPERTIES.COMMON_CONFIG.proceed_button_label }}
  </button>
</div>
