$font-path: "../assets/fonts";

@import "main";

// Fonts
// --------------------------------------------------
@import "fontello";
// @import "roboto";
// @import "noto-sans";
//@import "san-francisco";
$colors: (
  primary: #215d00,
  secondary: #e91e63,
  primary_whitener: #6fbd45,
  md-red: #f44336,
  md-rose: #e91e63,
  md-green: #4caf50,
  md-lgreen: #32db65,
  md-violet: #673ab7,
  md-blue: #3f51b5,
  md-gray: #607d8b,
  md-sky: #2196f3,
  md-yellow: #fffb00,
  md-orange: #403e3c,
);
