<div my-headerbar-visitorlist>
  <button
    *ngIf="totalVisitors > 0"
    (click)="takeActFor('visitorSummary')"
    mat-icon-button
    my-theme-round-button
    [matBadge]="totalVisitors"
    matBadgePosition="before"
    matBadgeColor="accent"
  >
    <i class="siva-icon-users-1"></i>
  </button>
</div>
<div style="text-align: center; padding: 30px">
  <p info-title no-margin-top margin-bottom>
    {{ KIOSK_PROPERTIES.COMMON_CONFIG.Caption }}
  </p>

  <div style="text-align: center; margin-top: 15vh">
    <!-- <div
      style="display: inline-block; vertical-align: top; margin-right: 40px"
      *ngIf="
      this.KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentSearch.AppointmentID.enable && this.KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentSearch.AppointmentID.search_type !== 'QRCode'
      "
    > -->
    <div style="display: inline-block; vertical-align: top; margin-right: 40px">
      <mat-tab-group
        mat-align-tabs="center"
        (selectedTabChange)="selectedTabValue($event)"
      >
        <mat-tab label="{{ 'Mobile No.' }}" se>
          <p sub-title>Please enter your <br />Mobile number</p>
        </mat-tab>
        <mat-tab label="{{ 'Email' }}">
          <p sub-title>Please enter your <br />Email address</p>
        </mat-tab>
        <mat-tab
          *ngIf="qrScanAppointmentId"
          label="{{ 'Appointment QR Code' }}"
        >
          <p sub-title>Please scan your<br />Appointment QR Code</p>
        </mat-tab>
        <mat-tab *ngIf="!qrScanAppointmentId" label="{{ 'Appointment ID' }}">
          <p sub-title>Please enter<br />Appointment ID</p>
        </mat-tab>
      </mat-tab-group>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        theme-border-input-big
        style="display: block"
        *ngIf="selectedType == 'contact'"
      >
        <mat-label>Mobile No.</mat-label>
        <input
          matInput
          [(ngModel)]="APONTMNT_CONTACT"
          maxlength="15"
          (blur)="textDataBindContact($event.target.value)"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="numeric"
          ng-virtual-keyboard-placeholder="Mobile No."
          #contact
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        theme-border-input-big
        style="display: block"
        *ngIf="selectedType == 'email'"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          [(ngModel)]="APONTMNT_EMAIL"
          (blur)="textDataBindEmail($event.target.value)"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          ng-virtual-keyboard-placeholder="Email"
          #email
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        theme-border-input-big
        style="display: block"
        *ngIf="selectedType == 'appint_id'"
      >
        <mat-label *ngIf="qrScanAppointmentId">Appointment QR Code</mat-label>
        <mat-label *ngIf="!qrScanAppointmentId">Appointment ID</mat-label>
        <input
          matInput
          [(ngModel)]="APONTMNT_CODE"
          maxlength="10"
          (blur)="textDataBindTemp($event.target.value)"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          ng-virtual-keyboard-placeholder="Appointment ID"
          #appint_id
          *ngIf="!qrScanAppointmentId"
        />
        <input
          matInput
          [(ngModel)]="APONTMNT_CODE"
          maxlength="10"
          #appint_id
          *ngIf="qrScanAppointmentId"
          (input)="onInput(appint_id.value)"
        />
      </mat-form-field>
    </div>
  </div>
</div>
<div my-footer-toolbar>
  <button
    *ngIf="this.isBackButtonVisible"
    mat-icon-button
    my-theme-round-button
    (click)="takeActFor('back')"
    style="float: left"
  >
    <i class="siva-icon-left-big"></i>
  </button>
  <button
    mat-raised-button
    my-theme-button
    [disabled]="
      (selectedType == 'appint_id' && APONTMNT_CODE.toString().length < 1) ||
      (selectedType == 'contact' && APONTMNT_CONTACT.toString().length < 1) ||
      (selectedType == 'email' && APONTMNT_EMAIL.toString().length < 1)
    "
    style="float: right"
    (click)="takeActFor('getAppointmentDetail')"
  >
    {{
      KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentSearch
        .get_appt_detail_button_caption
    }}
  </button>
</div>
