<div loader-page style="text-align: center; padding: 30px">
  <div *ngIf="isLoading" style="padding-top: 20vh">
    <!--  <mat-form-field class="example-full-width" style="opacity:100;">
      <input #cardSerInput matInput maxlength="10" (keydown.enter)="onKeydown($event)" placeholder="Card Serial Number" value="" (input)="onInput(cardSerInput.value)">
    </mat-form-field> -->
    <p
      info-title
      [innerHTML]="
        KIOSK_PROPERTIES['commonsetup']['Register_loading_msg'] | safeHtml
      "
    ></p>

    <div class="loading">
      <div class="bullet"></div>
      <div class="bullet"></div>
      <div class="bullet"></div>
      <div class="bullet"></div>
      <div class="bullet"></div>
    </div>
    <mat-form-field class="example-full-width" style="opacity: 0">
      <input
        #cardSerInput
        matInput
        maxlength="10"
        (keydown.enter)="onKeydown($event)"
        placeholder="Card Serial Number"
        value=""
        (input)="onInput(cardSerInput.value)"
      />
    </mat-form-field>
  </div>
  <div *ngIf="!isLoading">
    <div
      *ngIf="!qrcodeProcessed && EnableAcsQrCode && DisplayImageHandlerURL"
      style="display: inline-grid"
    >
      <img
        [src]="DisplayImageHandlerURL"
        style="width: 500px; height: 500px; margin: 0 auto"
        *ngIf="EnableAcsQrCode && DisplayImageHandlerURL"
      />
      <button
        style="margin: 0 auto; margin-top: 25px; margin-bottom: 25px"
        mat-raised-button
        my-theme-button
        *ngIf="
          (LabelPrintEnable || ReceiptPrintEnable) &&
          LabelPrintManualOrAuto == 20
        "
        (click)="triggerLabelPrint()"
      >
        <!-- <i class="material-icons icon-image-preview">print</i> -->
        Print
      </button>

      <button
        style="position: absolute; right: 0; bottom: 0; margin: 10px"
        mat-raised-button
        my-theme-button
        (click)="processNexttoSuccess()"
      >
        Proceed
      </button>
    </div>

    <div *ngIf="qrcodeProcessed" style="padding-top: 12vh">
      <img
        *ngIf="DisplaySuccessImageHandlerURL"
        [src]="DisplaySuccessImageHandlerURL"
        style="width: 185px; height: 185px"
      />

      <p info-title [innerHTML]="RESULT_MSG | safeHtml"></p>
      <p
        info-title
        *ngIf="RESULT_MSG2"
        [innerHTML]="RESULT_MSG2 | safeHtml"
      ></p>
      <p
        info-title
        *ngIf="RESULT_MSG3"
        [innerHTML]="RESULT_MSG3 | safeHtml"
      ></p>

      <p info-title *ngIf="TEST_PIN != ''">Your Test OTP : {{ TEST_PIN }}</p>
      <img width="100px" alt="Angular Logo" [src]="LOGO_IMG" />
    </div>
    <div
      *ngIf="
        qrcodeProcessed &&
        (LabelPrintEnable || ReceiptPrintEnable) &&
        LabelPrintManualOrAuto == 20
      "
      style="display: inline-grid"
    >
      <button
        style="margin: 0 auto; margin-top: 25px; margin-bottom: 25px"
        mat-raised-button
        my-theme-button
        (click)="triggerLabelPrint()"
      >
        <!-- <i class="material-icons icon-image-preview">print</i> -->
        Print
      </button>

      <button
        style="position: absolute; right: 0; bottom: 0; margin: 10px"
        mat-raised-button
        my-theme-button
        (click)="processNexttoSuccess()"
      >
        Proceed
      </button>
    </div>
  </div>
</div>
