<div loader-page style="text-align: center;

height: 100%;
display: flex;
align-items: center;
justify-content: center;">
  <div *ngIf="isLoading" style="width: 100%;">
    <!--  <mat-form-field class="example-full-width" style="opacity:100;">
      <input #cardSerInput matInput maxlength="10" (keydown.enter)="onKeydown($event)" placeholder="Card Serial Number" value="" (input)="onInput(cardSerInput.value)">
    </mat-form-field> -->
    <p style="padding-bottom: 10%;"
      info-title
      [innerHTML]="
        KIOSK_PROPERTIES['commonsetup']['Register_loading_msg'] | safeHtml
      "
    ></p>

    <div class="loading">
      <div class="bullet"></div>
      <div class="bullet"></div>
      <div class="bullet"></div>
      <div class="bullet"></div>
      <div class="bullet"></div>
    </div>
    <mat-form-field class="example-full-width" style="opacity: 0">
      <input
        #cardSerInput
        matInput
        maxlength="10"
        (keydown.enter)="onKeydown($event)"
        placeholder="Card Serial Number"
        value=""
        (input)="onInput(cardSerInput.value)"
      />
    </mat-form-field>
  </div>
  <div *ngIf="!isLoading" style="width: 100%;">
   <!--  <div
      *ngIf="EnableAcsQrCode && DisplayImageHandlerURL"
      style="display: inline-grid"
    > -->

      <img
        [src]="DisplayImageHandlerURL"
        style="width: 300px; height: 300px; margin: 0 auto"
        *ngIf="EnableAcsQrCode && DisplayImageHandlerURL"
      />
      <div [ngStyle]="{'margin-top': !EnableAcsQrCode ?'10%':''}">
        <img
        *ngIf="!EnableAcsQrCode && DisplaySuccessImageHandlerURL"
        [src]="DisplaySuccessImageHandlerURL"
        style="width: 70px; height: 70px"
      />
      </div>
          <p info-title [ngStyle]="{'font-size':(EnableAcsQrCode && DisplayImageHandlerURL)?'4vmin':''}" [innerHTML]="RESULT_MSG | safeHtml"></p>
          <p
            info-title [ngStyle]="{'font-size':(EnableAcsQrCode && DisplayImageHandlerURL)?'4vmin':''}"
            *ngIf="RESULT_MSG2"
            [innerHTML]="RESULT_MSG2 | safeHtml"
          ></p>
          <p
            info-title [ngStyle]="{'font-size':(EnableAcsQrCode && DisplayImageHandlerURL)?'4vmin':''}"
            *ngIf="RESULT_MSG3"
            [innerHTML]="RESULT_MSG3 | safeHtml"
          ></p>
      <button
        style="margin: 0 auto; margin-top: 25px; margin-bottom: 25px"
        mat-raised-button
        my-theme-button
        *ngIf="
          (LabelPrintEnable || ReceiptPrintEnable) &&
          LabelPrintManualOrAuto == 20
        "
        (click)="triggerLabelPrint()"
      >
        <!-- <i class="material-icons icon-image-preview">print</i> -->
        Print
      </button>

      <!-- <button
        style="position: absolute; right: 0; bottom: 0; margin: 10px"
        mat-raised-button
        my-theme-button
        (click)="processNexttoSuccess()"
      >
        Proceed
      </button> -->
   <!--  </div> -->

   <!--  <div *ngIf="qrcodeProcessed" style="padding-top: 12vh">
      <img
        *ngIf="DisplaySuccessImageHandlerURL"
        [src]="DisplaySuccessImageHandlerURL"
        style="width: 100px; height: 100px"
      />

      <p info-title [innerHTML]="RESULT_MSG | safeHtml"></p>
      <p
        info-title
        *ngIf="RESULT_MSG2"
        [innerHTML]="RESULT_MSG2 | safeHtml"
      ></p>
      <p
        info-title
        *ngIf="RESULT_MSG3"
        [innerHTML]="RESULT_MSG3 | safeHtml"
      ></p>

      <p info-title *ngIf="TEST_PIN != ''">Your Test OTP : {{ TEST_PIN }}</p>
    </div> -->
   <!--  <div
      *ngIf="

        (LabelPrintEnable || ReceiptPrintEnable) &&
        LabelPrintManualOrAuto == 20
      "
      style="display: inline-grid"
    >
      <button
        style="margin: 0 auto; margin-top: 25px; margin-bottom: 25px"
        mat-raised-button
        my-theme-button
        (click)="triggerLabelPrint()"
      >

        Print
      </button>

      <button
        style="position: absolute; right: 0; bottom: 0; margin: 10px"
        mat-raised-button
        my-theme-button
        (click)="processNexttoSuccess()"
      >
        Proceed
      </button>
    </div> -->
  </div>
</div>
