<div my-headerbar-homeButton
  *ngIf="KIOSK_PROPERTIES.modules != undefined && KIOSK_PROPERTIES.modules.card_dispenser.enable">
  <button disabled mat-icon-button my-theme-round-button [matBadge]="KIOSK_AVAL_CARDS" matBadgePosition="before"
    matBadgeColor="accent">
    <i class="siva-icon-docs-1"></i> </button>
</div>
<div style="text-align:center;padding:20px;">
  <p info-title>
    Setup
  </p>
  <div style="margin-top:10vh;">
    <div style="width:50%;float: left;">
      <p info-title style="font-size: 3vh;margin: 1vh 1vh 3vh 1vh auto;line-height: 4vh">
        Copy paste or Type your registered Kiosk License Code
      </p>
      <mat-form-field appearance="outline" floatLabel="always" theme-border-input-small
        style="width:40vw;font-size: 1.5rem;">
        <mat-label></mat-label>
        <input matInput style="font-size: 1.5rem;" [(ngModel)]="KIOSK_CODE" placeholder="">
      </mat-form-field>
      <!-- (blur)="textDataBindTemp($event.target.value, 'KIOSK_CODE')"
          ng-virtual-keyboard ng-virtual-keyboard-layout="numeric" 
          ng-virtual-keyboard- -->
      <p info-title style="font-size: 3vh;margin: 1vh auto;">
        -------- OR ---------
      </p>
      <button mat-raised-button my-theme-button sp-button-yellow-out style="margin-top:30px;min-width: 30vw;"
        (click)="takeActFor('scanNow')">Scan QRCode</button>

    </div>
    <div horizontal-divider style="width:50%;float: left;min-height:60vh;" margin-top>
      <button mat-raised-button my-theme-button sp-button-blue-out [disabled]="KIOSK_CODE.toString().length <=0 "
        style="margin-top:30px;min-width: calc(100% - 100px);" (click)="takeActFor('update')">Validate License</button>
      <br>
      <button mat-raised-button my-theme-button sp-button-green-out [disabled]="UPDATE_SETTINGS_SHOW"
        style="margin-top:30px;min-width: calc(100% - 100px);" (click)="takeActFor('update')">Update Settings</button>
      <br>
      <button mat-raised-button my-theme-button sp-button-green-out [disabled]="UPDATE_SETTINGS_SHOW"
        style="margin-top:30px;min-width: calc(100% - 100px);" (click)="takeActFor('testing')">Troubleshoot</button>
      <br>
      <button mat-raised-button my-theme-button sp-button-red-out [disabled]="UPDATE_SETTINGS_SHOW"
        style="margin-top:30px;min-width: calc(100% - 100px);" (click)="takeActFor('clearAccount')">Clear Account</button>
      <br>
      <button mat-raised-button my-theme-button sp-button-red-out style="margin-top:30px;min-width: calc(100% - 100px);"
        (click)="closeWindow('exit')">Exit App</button>

    </div>
  </div>
</div>
<!-- <div my-footer-toolbar>
  
</div> -->