<div my-headerbar-visitorlist>
  <!-- <button *ngIf="totalVisitors > 0" (click)="takeActFor('visitorSummary')" mat-icon-button my-theme-round-button
    [matBadge]="totalVisitors" matBadgePosition="before" matBadgeColor="accent">
    <i class="siva-icon-users-1"></i> </button> -->
</div>
<div style="text-align: center; padding: 30px">
  <p
    info-title
    no-margin-top
    margin-bottom
    [ngStyle]="{
      'font-weight': KIOSK_PROPERTIES.COMMON_CONFIG.CaptionBold ? 'bold' : '',
      'text-transform': KIOSK_PROPERTIES.COMMON_CONFIG.CaptionCapitalize
        ? 'uppercase'
        : 'capitalize'
    }"
  >
    {{ KIOSK_PROPERTIES.COMMON_CONFIG.AdditionalTitle.detail_page_title }}
  </p>
  <div>
    <div style="padding-top: 15vh">
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        (click)="openBottomCategorySelect()"
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.Category.Show &&
          ((showFirstPageFields &&
            KIOSK_PROPERTIES.COMMON_CONFIG.Category.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.Category.Page1))
        "
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.Category.Caption
        }}</mat-label>
        <input
          matInput
          readonly
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Category.Mandatory"
          oninput="this.value = this.value.toUpperCase()"
          [disabled]="isDisablecategory"
          [(ngModel)]="aptmDetails.category"
        />
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        (click)="openBottomBranchSelect()"
        *ngIf="showMultiBranch"
      >
        <mat-label>{{ KIOSK_PROPERTIES_LOCAL.multiBrnachLable }}</mat-label>
        <input
          matInput
          readonly
          theme-input-button
          [required]="true"
          oninput="this.value = this.value.toUpperCase()"
          [disabled]="isDisableBranch"
          [(ngModel)]="aptmDetails.branchName"
        />
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        (click)="openBottomHostSelect()"
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.Host.Show &&
          ((showFirstPageFields && KIOSK_PROPERTIES.COMMON_CONFIG.Host.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.Host.Page1))
        "
      >
        <mat-label>{{ KIOSK_PROPERTIES.COMMON_CONFIG.Host.Caption }}</mat-label>
        <input
          matInput
          readonly
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Host.Mandatory"
          oninput="this.value = this.value.toUpperCase()"
          [disabled]="
            isDisableHost || (showMultiBranch && !aptmDetails.branchName)
          "
          [(ngModel)]="
            aptmDetails.hostDetails.PatientName
              ? aptmDetails.hostDetails.PatientName
              : aptmDetails.hostDetails.name
          "
        />
        <mat-icon matSuffix *ngIf="!isDisableHost"
          >keyboard_arrow_down</mat-icon
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Show &&
          ((showFirstPageFields &&
            KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Page1))
        "
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Caption
        }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Mandatory"
          [(ngModel)]="aptmDetails.id"
          #box
          (keyup)="onKey(box.value, $event)"
          (blur)="textDataBindTemp($event.target.value, 'id')"
          oninput="this.value = this.value.toUpperCase()"
          (focusout)="itFocusOut($event.target.value, 'id')"
          (ngModelChange)="onChange($event)"
          [minlength]="VISITOR_ID_MIN_LENGTH"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.MaxLength"
          [disabled]="
            isDisableid ||
            docType == 'MYCARD' ||
            docType == 'SING_NRICrDRIV' ||
            docType == 'PASSPORT'
          "
          spellcheck="false"
          autocomplete="off"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="
            KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.PlaceHolder
          "
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Show &&
          ((showFirstPageFields &&
            KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Page1))
        "
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Caption
        }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Mandatory"
          [(ngModel)]="aptmDetails.name"
          (blur)="textDataBindTemp($event.target.value, 'name')"
          [minlength]="KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.MinLength"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.MaxLength"
          oninput="this.value = this.value.toUpperCase()"
          spellcheck="false"
          [disabled]="isDisablename"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="
            KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.PlaceHolder
          "
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.Company.Show &&
          ((showFirstPageFields &&
            KIOSK_PROPERTIES.COMMON_CONFIG.Company.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.Company.Page1))
        "
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.Company.Caption
        }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Company.Mandatory"
          [(ngModel)]="aptmDetails.company"
          (blur)="textDataBindTemp($event.target.value, 'company')"
          oninput="this.value = this.value.toUpperCase()"
          spellcheck="false"
          [minlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Company.MinLength"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Company.MaxLength"
          [disabled]="isDisablecompany"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="
            KIOSK_PROPERTIES.COMMON_CONFIG.Company.PlaceHolder
          "
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Show &&
          ((showFirstPageFields &&
            KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Page1))
        "
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Caption
        }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Mandatory"
          [(ngModel)]="aptmDetails.contact"
          (blur)="textDataBindTemp($event.target.value, 'contact')"
          spellcheck="false"
          [minlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MaxLength"
          [disabled]="isDisablecontact"
          oninput="this.value = this.value.toUpperCase()"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="numeric"
          [ng-virtual-keyboard-placeholder]="
            KIOSK_PROPERTIES.COMMON_CONFIG.Contact.PlaceHolder
          "
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Show &&
          ((showFirstPageFields &&
            KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Page1))
        "
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Caption
        }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Mandatory"
          [(ngModel)]="aptmDetails.email"
          (blur)="textDataBindTemp($event.target.value, 'email')"
          spellcheck="false"
          [minlength]="KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.MinLength"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.MaxLength"
          [disabled]="isDisableemail"
          oninput="this.value = this.value.toLowerCase()"
          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="
            KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.PlaceHolder
          "
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Show &&
          ((showFirstPageFields &&
            KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Page1))
        "
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Caption
        }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Mandatory"
          [(ngModel)]="aptmDetails.vehicle"
          (blur)="textDataBindTemp($event.target.value, 'vehicle')"
          spellcheck="false"
          [minlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.MinLength"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.MaxLength"
          [disabled]="isDisablevehicle"
          oninput="this.value = this.value.toUpperCase()"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="
            KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.PlaceHolder
          "
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        (click)="openBottomPurposeSheet()"
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Show &&
          ((showFirstPageFields &&
            KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Page1))
        "
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Caption
        }}</mat-label>
        <input
          matInput
          readonly
          theme-input-button
          [(ngModel)]="aptmDetails.purpose"
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Mandatory"
          [disabled]="isDisablePurpose"
          oninput="this.value = this.value.toUpperCase()"
          spellcheck="false"
        />
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        (click)="openBottomGenderSelect()"
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.Gender.Show &&
          ((showFirstPageFields &&
            KIOSK_PROPERTIES.COMMON_CONFIG.Gender.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.Gender.Page1))
        "
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.Gender.Caption
        }}</mat-label>
        <input
          matInput
          readonly
          theme-input-button
          [(ngModel)]="aptmDetails.gender"
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Gender.Mandatory"
          oninput="this.value = this.value.toUpperCase()"
          [disabled]="isDisableGender"
          spellcheck="false"
        />
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        (click)="openBottomCountrySelect()"
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.Country.Show &&
          ((showFirstPageFields &&
            KIOSK_PROPERTIES.COMMON_CONFIG.Country.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.Country.Page1))
        "
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.Country.Caption
        }}</mat-label>
        <input
          matInput
          readonly
          theme-input-button
          [(ngModel)]="aptmDetails.country"
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Country.Mandatory"
          oninput="this.value = this.value.toUpperCase()"
          [disabled]="isDisableCountry"
          spellcheck="false"
        />
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        (click)="openBottomHoursSelect()"
        *ngIf="
          KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentHours.Show &&
          ((showFirstPageFields &&
            KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentHours.Page1) ||
            (!showFirstPageFields &&
              !KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentHours.Page1))
        "
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentHours.Caption
        }}</mat-label>
        <input
          matInput
          readonly
          theme-input-button
          [(ngModel)]="aptmDetails.meetingHours"
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentHours.Mandatory"
          oninput="this.value = this.value.toUpperCase()"
          spellcheck="false"
        />
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>
<div my-footer-toolbar>
  <button
    mat-icon-button
    my-theme-round-button
    (click)="takeActFor('back')"
    style="float: left"
  >
    <i class="siva-icon-left-big"></i>
  </button>
  <!-- <button mat-raised-button my-theme-button (click)="takeActFor('addVisitor')"
  *ngIf="KIOSK_PROPERTIES.modules.only_visitor.checkin.in_registration_action_type != 'single'"
  [disabled]="validateAndReturnEmail() ||
  (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Show && KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Mandatory && (aptmDetails.id == ''))
  || (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Show && KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Mandatory && (aptmDetails.name == ''))
  || (KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Show && aptmDetails.email && aptmDetails.email.length < KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.MinLength)
  || (KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Show && aptmDetails.contact && aptmDetails.contact.length < KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength)
  || (KIOSK_PROPERTIES.COMMON_CONFIG.Company.Show && aptmDetails.company && aptmDetails.company.length < KIOSK_PROPERTIES.COMMON_CONFIG.Company.MinLength)
  || (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Show && aptmDetails.name && aptmDetails.name.length < KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.MinLength)
  || (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Show && aptmDetails.id && aptmDetails.id.length < VISITOR_ID_MIN_LENGTH)
  || (KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Show && aptmDetails.vehicle && aptmDetails.vehicle.length < KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.MinLength)
  || (KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Show && KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Mandatory && (aptmDetails.email == ''))
  || (KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Show && KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Mandatory && (aptmDetails.contact == ''))
  || (KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Show && KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Mandatory && (aptmDetails.purpose == ''))
  || (KIOSK_PROPERTIES.COMMON_CONFIG.Company.Show && KIOSK_PROPERTIES.COMMON_CONFIG.Company.Mandatory && (aptmDetails.company == ''))
  || (KIOSK_PROPERTIES.COMMON_CONFIG.Category.Show && KIOSK_PROPERTIES.COMMON_CONFIG.Category.Mandatory && (aptmDetails.category == ''))
  || (KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Show && KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Mandatory && (aptmDetails.vehicle == ''))
  || (KIOSK_PROPERTIES.COMMON_CONFIG.Host.Show && KIOSK_PROPERTIES.COMMON_CONFIG.Host.Mandatory && (aptmDetails.hostDetails.name == ''))
  ">
    {{KIOSK_PROPERTIES.modules.only_visitor.checkin.in_multi_act_but_label}}</button>
 -->
  <button
    mat-raised-button
    my-theme-button
    *ngIf="showFirstPageFields"
    style="float: right"
    (click)="takeActFor('confirm')"
    [disabled]="
      validateAndReturnEmail() ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Mandatory &&
        aptmDetails.id == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Mandatory &&
        aptmDetails.name == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Mandatory &&
        aptmDetails.email == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Mandatory &&
        aptmDetails.contact == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Mandatory &&
        aptmDetails.purpose == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Company.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Company.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Company.Mandatory &&
        aptmDetails.company == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Category.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Category.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Category.Mandatory &&
        aptmDetails.category == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Mandatory &&
        aptmDetails.vehicle == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Page1 &&
        aptmDetails.email &&
        aptmDetails.email.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.MinLength) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Page1 &&
        aptmDetails.contact &&
        aptmDetails.contact.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Company.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Company.Page1 &&
        aptmDetails.company &&
        aptmDetails.company.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.Company.MinLength) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Page1 &&
        aptmDetails.name &&
        aptmDetails.name.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.MinLength) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Page1 &&
        aptmDetails.id &&
        aptmDetails.id.length < VISITOR_ID_MIN_LENGTH) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Page1 &&
        aptmDetails.vehicle &&
        aptmDetails.vehicle.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.MinLength) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Host.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Host.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Host.Mandatory &&
        aptmDetails.hostDetails.name == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Gender.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Gender.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Gender.Mandatory &&
        aptmDetails.gender == '') ||
      (mainModule === 'vcheckinapproval' &&
        KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentHours.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentHours.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentHours.Mandatory &&
        !aptmDetails.meetingHours) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Country.Show &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Country.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Country.Mandatory &&
        aptmDetails.country == '')
    "
  >
    {{
      showFirstPageFields && this.NUMBER_OF_INPUTS > 7
        ? "Next"
        : KIOSK_PROPERTIES.COMMON_CONFIG.AdditionalTitle.submit_button_caption
    }}
  </button>

  <button
    mat-raised-button
    my-theme-button
    *ngIf="!showFirstPageFields"
    style="float: right"
    (click)="takeActFor('confirm')"
    [disabled]="
      (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Mandatory &&
        aptmDetails.id == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Mandatory &&
        aptmDetails.name == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Mandatory &&
        aptmDetails.email == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Mandatory &&
        aptmDetails.contact == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Mandatory &&
        aptmDetails.purpose == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Company.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.Company.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Company.Mandatory &&
        aptmDetails.company == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Category.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.Category.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Category.Mandatory &&
        aptmDetails.category == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Mandatory &&
        aptmDetails.vehicle == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.Page1 &&
        aptmDetails.email &&
        aptmDetails.email.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.EmailId.MinLength) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Page1 &&
        aptmDetails.contact &&
        aptmDetails.contact.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Company.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.Company.Page1 &&
        aptmDetails.company &&
        aptmDetails.company.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.Company.MinLength) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.Page1 &&
        aptmDetails.name &&
        aptmDetails.name.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.VisitorName.MinLength) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Page1 &&
        aptmDetails.id &&
        aptmDetails.id.length < VISITOR_ID_MIN_LENGTH) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Page1 &&
        aptmDetails.vehicle &&
        aptmDetails.vehicle.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.MinLength) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Host.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.Host.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Host.Mandatory &&
        aptmDetails.hostDetails.name == '') ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Gender.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.Gender.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Gender.Mandatory &&
        aptmDetails.gender == '') ||
      (mainModule === 'vcheckinapproval' &&
        KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentHours.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentHours.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.AppointmentHours.Mandatory &&
        !aptmDetails.meetingHours) ||
      (KIOSK_PROPERTIES.COMMON_CONFIG.Country.Show &&
        !KIOSK_PROPERTIES.COMMON_CONFIG.Country.Page1 &&
        KIOSK_PROPERTIES.COMMON_CONFIG.Country.Mandatory &&
        aptmDetails.country == '')
    "
  >
    {{
      showFirstPageFields && this.NUMBER_OF_INPUTS > 7
        ? "Next"
        : KIOSK_PROPERTIES.COMMON_CONFIG.AdditionalTitle.submit_button_caption
    }}
  </button>
</div>
