<div my-headerbar-homeButton>
  <button mat-icon-button (click)="takeActFor('home')">
    <img
      src="assets/type50/images/icons/ico_home.png"
      onError="src ='assets/type50/images/icons/ico_home.png'"
      style="
        width: 80px;
        height: 80px;
        padding-bottom: 0;
        margin: 0 auto;
        display: block;
      "
    />
  </button>
</div>
<div style="position: absolute; right: 0; top: 0">
  <img
    style="margin: 40px; height: 70px"
    src="assets\type50\images\Logo_small.png"
  />
</div>
<div loader-page style="text-align: center; padding-top: 20%">
  <!--  <div *ngIf="isLoading" style="padding-top:20vh">
    <p info-title [innerHTML]="KIOSK_PROPERTIES['commonsetup']['Register_loading_msg'] | safeHtml">

    </p>
    <div class='loading'>
      <div class='bullet'></div>
      <div class='bullet'></div>
      <div class='bullet'></div>
      <div class='bullet'></div>
      <div class='bullet'></div>
    </div>
    <mat-form-field class="example-full-width" style="opacity:0;">
        <input #cardSerInput matInput maxlength="10" (keydown.enter)="onKeydown($event)" placeholder="Card Serial Number" value="">
      </mat-form-field>
  </div> -->
  <div *ngIf="!isLoading">
    <div style="display: inline-grid; width: 100%; margin-top: 10%">
      <p info-title no-margin-top margin-bottom>{{ RESULT_MSG }}</p>
      <!-- <label
        style="font-weight: bold; font-size: 52px; color: #00769d"
        [innerHTML]="RESULT_MSG | safeHtml"
      ></label> -->
      <img
        src="assets\type50\images\icons\ico_right.png"
        style="width: 100px; height: 100px; margin: 10px auto"
      />
      <img
        src="assets\type50\images\image_pass_card.png"
        style="margin: 10px auto"
      />
      <label
        style="
          font-size: 30px;
          font-weight: bold;
          color: #00769d;
          margin-top: 20px;
        "
        *ngIf="RESULT_MSG2"
        [innerHTML]="RESULT_MSG2 | safeHtml"
      ></label>
      <label
        style="
          font-size: 30px;
          font-style: italic;
          color: #d60e0e;
          margin-top: 20px;
        "
        *ngIf="RESULT_MSG2"
        [innerHTML]="RESULT_MSG3 | safeHtml"
      ></label>
      <div *ngIf="mainModule === 'Contractor'" style="padding-top: 40px;">
        <button
          (click)="takeActFor('addWorker')"
          style="
            background: #00769d !important;
            margin: 25px;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            border-radius: 10px;
            text-align: center;
            width: 400px;
            border-radius: 2vh !important;
          "
          mat-raised-button
          my-theme-button
          (click)="takeActFor('addWorker')"
        >
          ADD WORKER
        </button>
        <button
          style="
            background: #00bfff !important;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            border-radius: 10px;
            text-align: center;
            width: 400px;
            border-radius: 2vh !important;
          "
          mat-raised-button
          my-theme-button
          (click)="takeActFor('ok')"
        >
          OK
        </button>
      </div>
      <div style="padding-top: 40px;">
        <button
          *ngIf="mainModule !== 'Contractor'"
          style="
            background: #00bfff !important;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            border-radius: 10px;
            text-align: center;
            border-radius: 2vh !important;
            margin: 25px;
            width: fit-content !important;
          "
          mat-raised-button
          my-theme-button
          (click)="takeActFor('ok')"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
