<button
  mat-button
  (click)="gotoCountClickSettings()"
  style="
    position: absolute;
    right: 0;
    min-height: 15vh;
    min-width: 15vh;
    z-index: 999999999;
  "
></button>
<!-- <div
  my-headerbar-homeButton
  *ngIf="KIOSK_PROPERTIES.modules.card_dispenser.enable"
>
  <button
    disabled
    mat-icon-button
    my-theme-round-button
    [matBadge]="KIOSK_AVAL_CARDS"
    matBadgePosition="before"
    matBadgeColor="accent"
  >
    <i class="siva-icon-docs-1"></i>
  </button>
</div> -->
<div style="text-align: center">
  <div *ngIf="KIOSK_PROPERTIES.General.AppType != 50">
    <h1
      welcome-title
      *ngIf="KIOSK_PROPERTIES.commonsetup.Home_screen_Label_1 != ''"
    >
      {{ KIOSK_PROPERTIES.commonsetup.Home_screen_Label_1 }}
    </h1>
    <img
      style="height: 24vh; margin-top: 2vh"
      alt="Angular Logo"
      [src]="LOGO_IMG"
    />
    <h3
      info-title
      *ngIf="KIOSK_PROPERTIES.commonsetup.Home_screen_Label_2 != ''"
      style="margin-top: 10vh"
    >
      {{ KIOSK_PROPERTIES.commonsetup.Home_screen_Label_2 }}
    </h3>
  </div>
  <div *ngIf="KIOSK_PROPERTIES.General.AppType == 50">
    <!-- <img
      style="height: 10vh; margin-top: 2vh"
      alt="Angular Logo"
      src="assets\type50\images\Logo_big.png"
    />
    <h1
      welcome-title
      style="margin-top: 10vh; font-weight: normal"
      *ngIf="KIOSK_PROPERTIES.commonsetup.Home_screen_Label_1 != ''"
    >
      {{ KIOSK_PROPERTIES.commonsetup.Home_screen_Label_1 }}
    </h1>
    <h3
      info-title
      style="font-weight: normal !important"
      *ngIf="KIOSK_PROPERTIES.commonsetup.Home_screen_Label_2 != ''"
      style="margin-top: 10vh"
    >
      {{ KIOSK_PROPERTIES.commonsetup.Home_screen_Label_2 }}
    </h3> -->
    <div style="text-align: center">
      <img
        style="height: 7vh; margin-top: 4vh"
        alt="Angular Logo"
        src="assets/images/cus_icons/logo_only.png"
      />
      <p
        info-title
        no-margin-top
        style="margin-top: 10vh !important; font-size: 8vmin"
        [ngStyle]="{ 'font-weight': 'bold', 'text-transform': 'capitalize' }"
        *ngIf="KIOSK_PROPERTIES.commonsetup.Home_screen_Label_1 != ''"
      >
        {{ KIOSK_PROPERTIES.commonsetup.Home_screen_Label_1 }}
      </p>
      <div
        style="padding-top: 5vh; display: inline-grid"
        *ngIf="KIOSK_PROPERTIES.General.AppType == 50"
      >
        <button
          mat-raised-button
          my-theme-button
          [ngStyle]="{ 'font-weight': 'bold', 'text-transform': 'capitalize' }"
          (click)="takeActFor('Visitor')"
          style="
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            margin-bottom: 60px;
            background: #00769d !important;
          "
        >
          <div style="display: flex; align-items: center">
            <img
              src="assets/images/cus_icons/ico_visitor.png"
              style="width: 100px; height: 100px; display: block"
            />
            <p style="margin: 0px; margin-left: 50px">Visitor</p>
          </div>
        </button>
        <button
          mat-raised-button
          my-theme-button
          [ngStyle]="{ 'font-weight': 'bold', 'text-transform': 'capitalize' }"
          (click)="takeActFor('Contractor')"
          style="
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            margin-bottom: 60px;
            background: #009d93 !important;
          "
        >
          <div style="display: flex; align-items: center">
            <img
              src="assets/images/cus_icons/ico_contractor.png"
              style="width: 100px; height: 100px; display: block"
            />
            <p style="margin: 0px; margin-left: 50px">Contractor</p>
          </div>
        </button>
        <button
          mat-raised-button
          my-theme-button
          [ngStyle]="{ 'font-weight': 'bold', 'text-transform': 'capitalize' }"
          (click)="takeActFor('Vendor')"
          style="
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            margin-bottom: 60px;
            background: #61c8ea !important;
          "
        >
          <div style="display: flex; align-items: center">
            <img
              src="assets/images/cus_icons/ico_vendor.png"
              style="width: 100px; height: 100px; display: block"
            />
            <p style="margin: 0px; margin-left: 50px">Vendor</p>
          </div>
        </button>
        <button
          mat-raised-button
          my-theme-button
          [ngStyle]="{ 'font-weight': 'bold', 'text-transform': 'capitalize' }"
          (click)="takeActFor('Contractor Staff')"
          style="
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            margin-bottom: 60px;
            background: #094b61 !important;
          "
        >
          <div style="display: flex; align-items: center">
            <img
              src="assets/images/cus_icons/ico_cs.png"
              style="width: 100px; height: 100px; display: block"
            />
            <p style="margin: 0px; margin-left: 50px">Contractor Staff</p>
          </div>
        </button>
        <!--  <button
        my-reg-option-btn
        sp-button-red-out1
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        style="
          margin-right: 2vh;
          text-align: center;
          font-size: 20px;
          font-weight: 700;
        "
        value=""
        [ngStyle]="{
          'font-weight': 'bold'
        }"
        (click)="takeActFor('Visitor')"
        [disabled]="!IF_CONNECT_WITH_SERVER"
      >
        <img
          src="assets/type50/images/icons/ico_visitor.png"
          onError="src ='assets/type50/images/icons/ico_visitor.png'"
          style="
            width: 80px;
            height: 80px;
            padding-bottom: 10px;
            margin: 0 auto;
            display: block;
          "
        />
        Visitor
      </button> -->
        <!--  <button
        my-reg-option-btn
        sp-button-red-out1
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        style="
          margin-right: 2vh;
          text-align: center;
          font-size: 20px;
          font-weight: 700;
        "
        value=""
        [ngStyle]="{
          'font-weight': 'bold'
        }"
        (click)="takeActFor('Contractor')"
        [disabled]="!IF_CONNECT_WITH_SERVER"
      >
        <img
          src="assets/type50/images/icons/ico_contractor.png"
          onError="src ='assets/type50/images/icons/ico_contractor.png'"
          style="
            width: 80px;
            height: 80px;
            padding-bottom: 10px;
            margin: 0 auto;
            display: block;
          "
        />
        Contractor
      </button> -->
        <!--   <button
        my-reg-option-btn
        sp-button-red-out1
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        style="
          margin-right: 2vh;
          text-align: center;
          font-size: 20px;
          font-weight: 700;
        "
        value=""
        [ngStyle]="{
          'font-weight': 'bold'
        }"
        (click)="takeActFor('Vendor')"
        [disabled]="!IF_CONNECT_WITH_SERVER"
      >
        <img
          src="assets/type50/images/icons/ico_vendor.png"
          onError="src ='assets/type50/images/icons/ico_vendor.png'"
          style="
            width: 80px;
            height: 80px;
            padding-bottom: 10px;
            margin: 0 auto;
            display: block;
          "
        />
        Vendor
      </button> -->
        <!--  <button
        my-reg-option-btn
        sp-button-red-out1
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        style="
          margin-right: 2vh;
          text-align: center;
          font-size: 20px;
          font-weight: 700;
        "
        value=""
        [ngStyle]="{
          'font-weight': 'bold'
        }"
        (click)="takeActFor('Contractor Staff')"
        [disabled]="!IF_CONNECT_WITH_SERVER"
      >
        <img
          src="assets/type50/images/icons/ico_cstaff.png"
          onError="src ='assets/type50/images/icons/ico_cstaff.png'"
          style="
            width: 80px;
            height: 80px;
            padding-bottom: 10px;
            margin: 0 auto;
            display: block;
          "
        />
        Contractor Staff
      </button> -->
      </div>
    </div>
  </div>
</div>
<div style="text-align: center">
  <input
    type="text"
    id="readStaffCard"
    #readStaffCard
    autofocus
    [(ngModel)]="StaffCardNo"
    (keyup.enter)="readStaffCardEnter()"
  />
</div>
<div
  my-footer-toolbar
  *ngIf="KIOSK_PROPERTIES.modules.app_flow_type == 'staff_and_visitor'"
>
  <button
    mat-raised-button
    my-theme-button
    (click)="takeActFor('staff')"
    style="margin-right: 100px"
  >
    Staff
  </button>
  <button mat-raised-button my-theme-button (click)="takeActFor('visitor')">
    Visitor
  </button>
</div>
<div
  my-footer-toolbar
  *ngIf="
    KIOSK_PROPERTIES.General.AppType == '10' ||
    KIOSK_PROPERTIES.General.AppType == '30'
  "
>
  <!-- <mat-radio-group>
    <mat-radio-button my-reg-option-btn sp-button-violet-out
    *ngIf="KIOSK_PROPERTIES.modules.only_visitor.CheckoutOption && KIOSK_PROPERTIES.modules.only_visitor.checkout.out_type != 'auto'"
      matRipple matRippleColor="rgba(255,255,255,0.1)"
      value="PREAPPOINTMT" (click)="takeActFor('vcheckout')">
      {{KIOSK_PROPERTIES.modules.only_visitor.visitor_landing_out_btn_label}}
    </mat-radio-button>

    <mat-radio-button my-reg-option-btn sp-button-yellow-out
    *ngIf="KIOSK_PROPERTIES.modules.only_visitor.CheckinOption"
      matRipple matRippleColor="rgba(255,255,255,0.1)"
      value="OTHER" (click)="takeActFor('vcheckinapproval')">
      {{KIOSK_PROPERTIES.ApptFieldSettings.Caption}}
    </mat-radio-button>


    <mat-radio-button my-reg-option-btn sp-button-yellow-out
    *ngIf="KIOSK_PROPERTIES.ApptFieldSettings.Enable"
      matRipple matRippleColor="rgba(255,255,255,0.1)"
      value="OTHER" (click)="takeActFor('vcheckinapproval')">
      {{KIOSK_PROPERTIES.ApptFieldSettings.Caption}}
    </mat-radio-button>
  </mat-radio-group> -->

  <button
    my-reg-option-btn
    sp-button-red-out1
    matRipple
    matRippleColor="rgba(255,255,255,0.1)"
    style="
      margin-right: 5vh;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
    "
    *ngIf="
      KIOSK_PROPERTIES.CheckinSettings &&
      KIOSK_PROPERTIES.modules.only_visitor.CheckinOption
    "
    value="CHECKIN"
    [ngStyle]="{
      'font-weight': KIOSK_PROPERTIES.CheckinSettings.CaptionBold ? 'bold' : '',
      'text-transform': KIOSK_PROPERTIES.CheckinSettings.CaptionCapitalize
        ? 'uppercase'
        : 'capitalize'
    }"
    (click)="takeActFor('vcheckin')"
    [disabled]="!IF_CONNECT_WITH_SERVER"
  >
    <img
      src="{{ CheckIn }}"
      onError="src ='assets/images/cus_icons/checkin.png'"
      style="
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
        margin: 0 auto;
        display: block;
      "
    />
    {{ KIOSK_PROPERTIES.CheckinSettings.Caption }}
  </button>

  <button
    my-reg-option-btn
    sp-button-violet-out
    matRipple
    matRippleColor="rgba(255,255,255,0.1)"
    style="
      margin-right: 5vh;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
    "
    *ngIf="
      KIOSK_PROPERTIES.modules.only_visitor.checkin.in_prereg_visitor &&
      mainModule != 'vcheckinapproval'
    "
    value="PREAPPOINTMT"
    [ngStyle]="{
      'font-weight': KIOSK_PROPERTIES.modules.only_visitor.checkin
        .in_prereg_option.in_prereg_lbl_bold
        ? 'bold'
        : '400',
      'text-transform': KIOSK_PROPERTIES.modules.only_visitor.checkin
        .in_prereg_option.in_prereg_lbl_capital
        ? 'uppercase'
        : 'capitalize'
    }"
    (click)="takeActFor('preAppointment')"
  >
    <img
      src="{{ Appointment }}"
      onError="src ='assets/images/cus_icons/pre_appointment.png'"
      style="
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
        margin: 0 auto;
        display: block;
      "
    />
    {{
      KIOSK_PROPERTIES.modules.only_visitor.checkin.in_prereg_option
        .in_prereg_label
    }}
  </button>

  <button
    my-reg-option-btn
    sp-button-green-out1
    matRipple
    matRippleColor="rgba(255,255,255,0.1)"
    style="
      margin-right: 5vh;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
    "
    *ngIf="
      KIOSK_PROPERTIES.ApptFieldSettings &&
      KIOSK_PROPERTIES.ApptFieldSettings.Enable
    "
    [ngStyle]="{
      'font-weight': KIOSK_PROPERTIES.ApptFieldSettings.CaptionBold
        ? 'bold'
        : '',
      'text-transform': KIOSK_PROPERTIES.ApptFieldSettings.CaptionCapitalize
        ? 'uppercase'
        : 'capitalize'
    }"
    (click)="takeActFor('vcheckinapproval')"
    [disabled]="!IF_CONNECT_WITH_SERVER"
  >
    <img
      src="{{ RequestAppointment }}"
      onError="src ='assets/images/cus_icons/register.png'"
      style="
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
        margin: 0 auto;
        display: block;
      "
    />
    {{ KIOSK_PROPERTIES.ApptFieldSettings.Caption }}
  </button>

  <button
    my-reg-option-btn
    sp-button-violet-out1
    matRipple
    matRippleColor="rgba(255,255,255,0.1)"
    style="
      margin-right: 5vh;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
    "
    *ngIf="
      KIOSK_PROPERTIES.modules.only_visitor.CheckoutOption &&
      KIOSK_PROPERTIES.modules.only_visitor.checkout.out_type != 'auto'
    "
    (click)="takeActFor('vcheckout')"
    [disabled]="!IF_CONNECT_WITH_SERVER"
  >
    <img
      src="{{ CheckOut }}"
      onError="src ='assets/images/cus_icons/checkout.png'"
      style="
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
        margin: 0 auto;
        display: block;
      "
    />
    {{ KIOSK_PROPERTIES.modules.only_visitor.visitor_landing_out_btn_label }}
  </button>

  <!-- <button mat-raised-button my-theme-button style="margin-right: 5vh;"
      *ngIf="KIOSK_PROPERTIES.modules.only_visitor.checkin.in_prereg_visitor"
      (click)="takeActFor('vcheckin')" [disabled]="!IF_CONNECT_WITH_SERVER">
        {{KIOSK_PROPERTIES.modules.only_visitor.checkin.in_prereg_option.in_prereg_label}}</button> -->
</div>
<!-- AppType 50 -->
