[passcode-big-textbox]{
    font-size: 7vh;
    color: #d50109;
    padding: 10px 30px;
    max-width: 300px;
    border: 5px solid #d50109;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    &:focus{
        outline: none;
    }
}
[my-sett-table-textbox]{
    font-size: 4vh;
    color: #d50109;
    padding: 10px 30px;
    width: 85%;
    border: 0px;
    border-radius: 10px;
    font-weight: 600;
    text-align: left;
    &:focus{
        outline: none;
    }
}