<div my-headerbar-visitorlist>
  <button *ngIf="totalVisitors > 0" (click)="takeActFor('visitorSummary')"
   mat-icon-button my-theme-round-button
   [matBadge]="totalVisitors" matBadgePosition="before" matBadgeColor="accent">
    <i class="siva-icon-users-1"></i> </button>
</div>
<div style="text-align:center;padding:30px;">
  <p info-title no-margin-top [ngStyle]="{'font-weight': KIOSK_PROPERTIES.COMMON_CONFIG.CaptionBold? 'bold': '' , 'text-transform': KIOSK_PROPERTIES.COMMON_CONFIG.CaptionCapitalize? 'uppercase': 'capitalize'}">
    {{KIOSK_PROPERTIES.COMMON_CONFIG.AdditionalTitle.choose_your_reg_type_title}}
  </p>
  <div style="padding-top: 0vh;">
      <mat-radio-group [(ngModel)]="SEL_REGISTRATION_TYPE">
          <mat-radio-button my-reg-option-radio sp-button-blue-out
          *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.checkin.enable_NRIC"
            matRipple matRippleColor="rgba(255,255,255,0.1)"
            value="MYCARD" (click)="regTypeChangeEvent($event)">
            {{KIOSK_PROPERTIES.COMMON_CONFIG.checkin.NRIC_caption}}
          </mat-radio-button>
          <mat-radio-button my-reg-option-radio sp-button-red-out matRipple
            matRippleColor="rgba(255,255,255,0.1)"
            *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.checkin.enable_NRICRLicense"
            value="SING_NRICrDRIV" (click)="regTypeChangeEvent($event)">
            {{KIOSK_PROPERTIES.COMMON_CONFIG.checkin.NRICRLicense_caption}}
          </mat-radio-button>
          <mat-radio-button my-reg-option-radio sp-button-green-out
          *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.checkin.enable_Passport"
            matRipple matRippleColor="rgba(255,255,255,0.1)"
            value="PASSPORT" (click)="regTypeChangeEvent($event)">
            {{KIOSK_PROPERTIES.COMMON_CONFIG.checkin.Passport_caption}}
          </mat-radio-button>
          <mat-radio-button my-reg-option-radio sp-button-rose-out
          *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.checkin.enable_BusinessCard"
            matRipple matRippleColor="rgba(255,255,255,0.1)"
            value="BUSINESS" (click)="regTypeChangeEvent($event)">
            {{KIOSK_PROPERTIES.COMMON_CONFIG.checkin.BusinessCard_caption}}
          </mat-radio-button>
          <mat-radio-button my-reg-option-radio sp-button-yellow-out
          *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.checkin.enable_manual_walkin"
            matRipple matRippleColor="rgba(255,255,255,0.1)"
            value="OTHER" (click)="regTypeChangeEvent($event)">
            {{KIOSK_PROPERTIES.COMMON_CONFIG.checkin.manual_walkin_caption}}
          </mat-radio-button>
          <mat-radio-button my-reg-option-radio sp-button-yellow-out
          *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.checkin.enable_manual_ReqAppt"
            matRipple matRippleColor="rgba(255,255,255,0.1)"
            value="OTHER" (click)="regTypeChangeEvent($event)">
            {{KIOSK_PROPERTIES.COMMON_CONFIG.checkin.manual_ReqAppt_caption}}
          </mat-radio-button>
        </mat-radio-group>
  </div>


</div>
<div my-footer-toolbar>
  <button mat-icon-button my-theme-round-button (click)="takeActFor('back')" style="float: left;">
    <i class="siva-icon-left-big"></i>
  </button>
  <!-- <button mat-raised-button my-theme-button style="margin-left:100px;" (click)="takeActFor('next')"
    [disabled]="SEL_REGISTRATION_TYPE == ''"
  >Next</button> -->
</div>
