<div my-headerbar-visitorlist>
  <button *ngIf="totalVisitors > 0" (click)="takeActFor('visitorSummary')"
   mat-icon-button my-theme-round-button
   [matBadge]="totalVisitors" matBadgePosition="before" matBadgeColor="accent">
    <i class="siva-icon-users-1"></i> </button>
</div>
<div style="text-align:center;padding:30px;">
  <p info-title no-margin-top [ngStyle]="{'font-weight': KIOSK_PROPERTIES.COMMON_CONFIG.CaptionBold? 'bold': '' , 'text-transform': KIOSK_PROPERTIES.COMMON_CONFIG.CaptionCapitalize? 'uppercase': 'capitalize'}">
    {{KIOSK_PROPERTIES.modules.only_visitor.checkin.in_screen_landing_label1}}
  </p>
  <div style="padding-top: 0vh;">
      <mat-radio-group [(ngModel)]="SEL_REGISTRATION_TYPE">
          <mat-radio-button my-reg-option-radio sp-button-blue-out
          *ngIf="mainModule === 'vcheckin' ? KIOSK_PROPERTIES.modules.only_visitor.checkin.in_NRIC: KIOSK_PROPERTIES.modules.only_visitor.checkin.appt_NRIC"
            matRipple matRippleColor="rgba(255,255,255,0.1)"
            value="MYCARD" (click)="regTypeChangeEvent($event)">
            {{mainModule === 'vcheckin' ? KIOSK_PROPERTIES.modules.only_visitor.checkin.in_NRIC_label: KIOSK_PROPERTIES.modules.only_visitor.checkin.appt_NRIC_label}}
          </mat-radio-button>
          <mat-radio-button my-reg-option-radio sp-button-red-out matRipple
            matRippleColor="rgba(255,255,255,0.1)"
            *ngIf="mainModule === 'vcheckin' ? KIOSK_PROPERTIES.modules.only_visitor.checkin.in_NRICRLicense: KIOSK_PROPERTIES.modules.only_visitor.checkin.appt_NRICRLicense"
            value="SING_NRICrDRIV" (click)="regTypeChangeEvent($event)">
            {{mainModule === 'vcheckin' ? KIOSK_PROPERTIES.modules.only_visitor.checkin.in_NRICRLicenselabel: KIOSK_PROPERTIES.modules.only_visitor.checkin.appt_NRICRLicenselabel}}
          </mat-radio-button>
          <mat-radio-button my-reg-option-radio sp-button-green-out
          *ngIf="mainModule === 'vcheckin' ? KIOSK_PROPERTIES.modules.only_visitor.checkin.in_Passport: KIOSK_PROPERTIES.modules.only_visitor.checkin.appt_Passport"
            matRipple matRippleColor="rgba(255,255,255,0.1)"
            value="PASSPORT" (click)="regTypeChangeEvent($event)">
            {{mainModule === 'vcheckin' ? KIOSK_PROPERTIES.modules.only_visitor.checkin.in_Passport_label : KIOSK_PROPERTIES.modules.only_visitor.checkin.appt_Passport_label}}
          </mat-radio-button>
          <mat-radio-button my-reg-option-radio sp-button-rose-out
          *ngIf="mainModule === 'vcheckin' ? KIOSK_PROPERTIES.modules.only_visitor.checkin.in_Busins_Card: KIOSK_PROPERTIES.modules.only_visitor.checkin.appt_Busins_Card"
            matRipple matRippleColor="rgba(255,255,255,0.1)"
            value="BUSINESS" (click)="regTypeChangeEvent($event)">
            {{mainModule === 'vcheckin' ? KIOSK_PROPERTIES.modules.only_visitor.checkin.in_Busins_Card_label: KIOSK_PROPERTIES.modules.only_visitor.checkin.appt_Busins_Card_label}}
          </mat-radio-button>
          <mat-radio-button my-reg-option-radio sp-button-violet-out
          *ngIf="KIOSK_PROPERTIES.modules.only_visitor.checkin.in_prereg_visitor && mainModule != 'vcheckinapproval'"
            matRipple matRippleColor="rgba(255,255,255,0.1)"
            value="PREAPPOINTMT" (click)="regTypeChangeEvent($event)">
            <div [ngStyle]="{'font-weight': KIOSK_PROPERTIES.modules.only_visitor.checkin.in_prereg_option.in_prereg_lbl_bold? 'bold': '400' ,
            'text-transform': KIOSK_PROPERTIES.modules.only_visitor.checkin.in_prereg_option.in_prereg_lbl_capital? 'uppercase': 'capitalize'}">{{KIOSK_PROPERTIES.modules.only_visitor.checkin.in_prereg_option.in_prereg_label}}</div>
          </mat-radio-button>
          <mat-radio-button my-reg-option-radio sp-button-yellow-out
          *ngIf="mainModule === 'vcheckin' ? KIOSK_PROPERTIES.modules.only_visitor.checkin.in_manual: KIOSK_PROPERTIES.modules.only_visitor.checkin.appt_manual"
            matRipple matRippleColor="rgba(255,255,255,0.1)"
            value="OTHER" (click)="regTypeChangeEvent($event)">
            {{mainModule === 'vcheckin' ? KIOSK_PROPERTIES.modules.only_visitor.checkin.in_manual_label: KIOSK_PROPERTIES.modules.only_visitor.checkin.appt_manual_label}}
          </mat-radio-button>
        </mat-radio-group>
  </div>


</div>
<div my-footer-toolbar>
  <button mat-icon-button my-theme-round-button (click)="takeActFor('back')" style="float: left;">
    <i class="siva-icon-left-big"></i>
  </button>
  <!-- <button mat-raised-button my-theme-button style="margin-left:100px;" (click)="takeActFor('next')"
    [disabled]="SEL_REGISTRATION_TYPE == ''"
  >Next</button> -->
</div>
