<div *ngIf="isLoading" loader-page style="text-align: center; padding: 30px">
  <p info-title>Loading Please wait..</p>
  <div class="loading">
    <div class="bullet"></div>
    <div class="bullet"></div>
    <div class="bullet"></div>
    <div class="bullet"></div>
    <div class="bullet"></div>
  </div>
  <mat-form-field class="example-full-width" style="opacity:0;">
    <input #cardSerInput matInput maxlength="10" (keydown.enter)="onKeydown($event)" placeholder="Card Serial Number" value="">
  </mat-form-field>
</div>

<div *ngIf="!isLoading" my-headerbar-homeButton>
  <button mat-icon-button (click)="takeActFor('home')">
    <img
      src="assets/type50/images/icons/ico_home.png"
      onError="src ='assets/type50/images/icons/ico_home.png'"
      style="
        width: 80px;
        height: 80px;
        padding-bottom: 0;
        margin: 0 auto;
        display: block;
      "
    />
  </button>
</div>
<div style="position: absolute; right: 0; top: 0">
  <img
    style="margin: 40px; height: 70px"
    src="assets\type50\images\Logo_small.png"
  />
</div>

<div *ngIf="!isLoading" style="text-align: center; padding-top: 45%">
  <p info-title no-margin-top margin-bottom>{{ title }}</p>
  <div>
    <div style="padding-top: 1vh">
      <!--Full Name -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.Name.Show"
      >
        <mat-label>{{ KIOSK_PROPERTIES.COMMON_CONFIG.Name.Caption }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Name.Mandatory"
          [(ngModel)]="aptmDetails.name"
          (blur)="textDataBindTemp($event.target.value, 'name')"
          [minlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Name.MinLength"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Name.MaxLength"
          oninput="this.value = this.value.toUpperCase()"
          spellcheck="false"
          [disabled]="isDisablename"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="
            KIOSK_PROPERTIES.COMMON_CONFIG.Name.Caption
          "
        />
      </mat-form-field>

      <!-- Passport -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Show"
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Caption
        }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Mandatory"
          [(ngModel)]="aptmDetails.id"
          #box
          (keyup)="onKey(box.value, $event)"
          (blur)="textDataBindTemp($event.target.value, 'id')"
          oninput="this.value = this.value.toUpperCase()"
          (focusout)="itFocusOut($event.target.value, 'id')"
          (ngModelChange)="onChange($event)"
          [minlength]="KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.MinLength"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.MaxLength"
          spellcheck="false"
          [disabled]="isDisableid"
          autocomplete="off"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="
            KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.Caption
          "
        />
      </mat-form-field>

      <!-- Mobile Number -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Show"
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Caption
        }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Mandatory"
          [(ngModel)]="aptmDetails.contact"
          (blur)="textDataBindTemp($event.target.value, 'contact')"
          spellcheck="false"
          [minlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MaxLength"
          oninput="this.value = this.value.toUpperCase()"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="numeric"
          [ng-virtual-keyboard-placeholder]="
            KIOSK_PROPERTIES.COMMON_CONFIG.Contact.Caption
          "
        />
      </mat-form-field>

      <!-- Location of visit -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="LocationOfVisitShow"
      >
        <mat-label>{{ LocationOfVisitCaption }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="LocationOfVisitMandatory"
          [(ngModel)]="aptmDetails.MeetingLoc"
          (blur)="textDataBindTemp($event.target.value, 'MeetingLoc')"
          [minlength]="LocationOfVisitMinLength"
          [maxlength]="LocationOfVisitMaxLength"
          oninput="this.value = this.value.toUpperCase()"
          spellcheck="false"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="LocationOfVisitCaption"
        />
      </mat-form-field>

      <!-- Purpose of Visit-->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Show"
        (click)="openBottomPurposeSheet()"
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Caption
        }}</mat-label>
        <input
          matInput
          readonly
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Purpose.Mandatory"
          theme-input-button
          [(ngModel)]="aptmDetails.purpose"
          [required]="true"
          oninput="this.value = this.value.toUpperCase()"
          spellcheck="false"
        />
      </mat-form-field>

      <!-- Person In charge -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.Host.Show"
      >
        <mat-label>{{ KIOSK_PROPERTIES.COMMON_CONFIG.Host.Caption }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Host.Mandatory"
          [(ngModel)]="aptmDetails.hostName"
          (blur)="textDataBindTemp($event.target.value, 'Host')"
          oninput="this.value = this.value.toUpperCase()"
          spellcheck="false"
          [minlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Host.MinLength"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Host.MaxLength"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          ng-virtual-keyboard-placeholder="Enter Person-In-Charge"
        />
      </mat-form-field>

      <!-- Company -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.Company.Show"
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.Company.Caption
        }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Company.Mandatory"
          [(ngModel)]="aptmDetails.company"
          (blur)="textDataBindTemp($event.target.value, 'company')"
          spellcheck="false"
          [minlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Company.MinLength"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Company.MaxLength"
          oninput="this.value = this.value.toUpperCase()"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="
            KIOSK_PROPERTIES.COMMON_CONFIG.Company.Caption
          "
        />
      </mat-form-field>

      <!-- Vehicle Number -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Show"
      >
        <mat-label>{{
          KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Caption
        }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Mandatory"
          [(ngModel)]="aptmDetails.vehicle"
          (blur)="textDataBindTemp($event.target.value, 'vehicle')"
          spellcheck="false"
          [minlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.MinLength"
          [maxlength]="KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.MaxLength"
          oninput="this.value = this.value.toUpperCase()"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="
            KIOSK_PROPERTIES.COMMON_CONFIG.Vehicle.Caption
          "
        />
      </mat-form-field>

      <!-- Permit to work Reference Number -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="workReferenceNoShow"
      >
        <mat-label>{{ workReferenceNoCaption }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="workReferenceNoMandatory"
          [(ngModel)]="aptmDetails.WorkPermit"
          (blur)="textDataBindTemp($event.target.value, 'WorkPermit')"
          [minlength]="workReferenceNoMinLength"
          [maxlength]="workReferenceNoMaxLength"
          oninput="this.value = this.value.toUpperCase()"
          spellcheck="false"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="workReferenceNoCaption"
        />
      </mat-form-field>
      <!-- Department -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        no-padding
        matRipple
        matRippleColor="rgba(255,255,255,0.1)"
        theme-border-input-small
        app-detail-grid-input
        *ngIf="departmentShow"
      >
        <mat-label>{{ departmentCaption }}</mat-label>
        <input
          matInput
          theme-input-button
          [required]="departmentMandatory"
          [(ngModel)]="aptmDetails.Department"
          (blur)="textDataBindTemp($event.target.value, 'Department')"
          [minlength]="departmentMinLength"
          [maxlength]="departmentMaxLength"
          oninput="this.value = this.value.toUpperCase()"
          spellcheck="false"
          ng-virtual-keyboard
          ng-virtual-keyboard-layout="extended"
          [ng-virtual-keyboard-placeholder]="departmentCaption"
        />
      </mat-form-field>

      <button
        style="
          margin-top: 10px;
          background: #00bfff !important;
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          padding-left: 80px !important;
          padding-right: 80px !important;
          text-align: center;
        "
        mat-raised-button
        my-theme-button
        (click)="takeActFor('submit')"
        [disabled]="
          (mainModule == 'Visitor' &&
            (aptmDetails.name.length <
              KIOSK_PROPERTIES.COMMON_CONFIG.Name.MinLength ||
              aptmDetails.id.length <
                KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.MinLength ||
              aptmDetails.contact.length <
                KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength ||
              aptmDetails.MeetingLoc.length < LocationOfVisitMinLength ||
              aptmDetails.purpose == '')) ||
          (mainModule == 'Contractor' &&
            (aptmDetails.name.length <
              KIOSK_PROPERTIES.COMMON_CONFIG.Name.MinLength ||
              aptmDetails.id.length <
                KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.MinLength ||
              aptmDetails.contact.length <
                KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength ||
              aptmDetails.MeetingLoc.length < LocationOfVisitMinLength ||
              aptmDetails.company.length <
                KIOSK_PROPERTIES.COMMON_CONFIG.Company.MinLength ||
              aptmDetails.purpose == '')) ||
          (mainModule == 'Vendor' &&
            (aptmDetails.name.length <
              KIOSK_PROPERTIES.COMMON_CONFIG.Name.MinLength ||
              aptmDetails.id.length <
                KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.MinLength ||
              aptmDetails.contact.length <
                KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength ||
              aptmDetails.MeetingLoc.length < LocationOfVisitMinLength ||
              aptmDetails.company.length <
                KIOSK_PROPERTIES.COMMON_CONFIG.Company.MinLength ||
              aptmDetails.purpose == '')) ||
          (mainModule == 'Contractor Staff' &&
            (aptmDetails.name.length <
              KIOSK_PROPERTIES.COMMON_CONFIG.Name.MinLength ||
              aptmDetails.id.length <
                KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.MinLength ||
              aptmDetails.contact.length <
                KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength ||
              aptmDetails.hostName.length <
                KIOSK_PROPERTIES.COMMON_CONFIG.Host.MinLength ||
              aptmDetails.Department.length < departmentMinLength))
        "
      >
        CONFIRM
      </button>
    </div>
  </div>
</div>

<!-- <div *ngIf="!isLoading" my-footer-toolbar>
  <button
    mat-icon-button
    (click)="takeActFor('back')"
    style="float: left; margin-bottom: 50px"
  >
    <img
      src="assets/type50/images/icons/ico_back.png"
      onError="src ='assets/type50/images/icons/ico_back.png'"
      style="
        width: 80px;
        height: 80px;
        padding-bottom: 10px;
        margin: 0 auto;
        display: block;
      "
    />
  </button>
  <button
    style="
      position: absolute;
      background: #00769d !important;
      right: 0;
      bottom: 0;
      margin: 10px;
    "
    mat-raised-button
    my-theme-button
    (click)="takeActFor('submit')"
    [disabled]="
      (mainModule == 'Visitor' &&
        (aptmDetails.name.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.Name.MinLength ||
          aptmDetails.id.length <
            KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.MinLength ||
          aptmDetails.contact.length <
            KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength ||
          aptmDetails.MeetingLoc.length < LocationOfVisitMinLength ||
          aptmDetails.purpose == '')) ||
      (mainModule == 'Contractor' &&
        (aptmDetails.name.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.Name.MinLength ||
          aptmDetails.id.length <
            KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.MinLength ||
          aptmDetails.contact.length <
            KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength ||
          aptmDetails.MeetingLoc.length < LocationOfVisitMinLength ||
          aptmDetails.company.length <
            KIOSK_PROPERTIES.COMMON_CONFIG.Company.MinLength ||
          aptmDetails.purpose == '')) ||
      (mainModule == 'Vendor' &&
        (aptmDetails.name.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.Name.MinLength ||
          aptmDetails.id.length <
            KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.MinLength ||
          aptmDetails.contact.length <
            KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength ||
          aptmDetails.MeetingLoc.length < LocationOfVisitMinLength ||
          aptmDetails.company.length <
            KIOSK_PROPERTIES.COMMON_CONFIG.Company.MinLength ||
          aptmDetails.purpose == '')) ||
      (mainModule == 'Contractor Staff' &&
        (aptmDetails.name.length <
          KIOSK_PROPERTIES.COMMON_CONFIG.Name.MinLength ||
          aptmDetails.id.length <
            KIOSK_PROPERTIES.COMMON_CONFIG.VisitorId.MinLength ||
          aptmDetails.contact.length <
            KIOSK_PROPERTIES.COMMON_CONFIG.Contact.MinLength ||
          aptmDetails.Host.length <
            KIOSK_PROPERTIES.COMMON_CONFIG.Host.MinLength ||
          aptmDetails.Department.length < departmentMinLength))
    "
  >
    CONFIRM
  </button>
</div> -->
